<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Samples.Finder.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ApplicationPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
                name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="BusinessLogicPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
                name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
          <add type="Samples.Finder.Components.Common.BusinessLogic.Exceptions.FileSearchEngineException, Samples.Finder.Components.Common.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="None" name="FileSearchEngineException">
          </add>
          <add type="Samples.Finder.Components.Common.BusinessLogic.Exceptions.UnknownComparisonOperationException, Samples.Finder.Components.Common.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="None" name="UnknownComparisonOperationException">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Warning" title="Enterprise Library Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                name="LogSkipIfCan" />
            </exceptionHandlers>
          </add>
          <add type="Samples.Finder.Components.Common.BusinessLogic.Exceptions.SearchEngineException, Samples.Finder.Components.Common.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="None" name="SearchEngineException">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
                name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
          <add type="Samples.Finder.Components.Common.PluginSDK.Exceptions.PluginException, Samples.Finder.Components.Common.PluginSDK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="None" name="PluginException">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
              name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="PresentationLogicPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
                name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
          <add type="Samples.Finder.Components.Common.PresentationLogic.Exceptions.RuntimeException, Samples.Finder.Components.Common.PresentationLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="None" name="RuntimeException">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
                name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
          <add type="Samples.Finder.Components.Common.PresentationLogic.Exceptions.UnwantedException, Samples.Finder.Components.Common.PresentationLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="ThrowNewException" name="UnwantedException">
          </add>
          <add type="Samples.Finder.Components.Common.PluginSDK.Exceptions.PluginCouldNotLoadedException, Samples.Finder.Components.Common.PluginSDK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
            postHandlingAction="None" name="PluginCouldNotLoadedException">
            <exceptionHandlers>
              <add type="Samples.Finder.Components.Common.ExceptionHandlerExtensions.WinFormsApplicationMessageExceptionHandler, Samples.Finder.Components.Common.ExceptionHandlerExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37c8770694d9f681"
                name="LogShowSkipIfCan" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <applicationSettings>
    <Samples.Finder.Application.Properties.Settings>
      <setting name="PluginDirectory" serializeAs="String">
        <value>Plugins</value>
      </setting>
      <setting name="PluginExtension" serializeAs="String">
        <value>dll</value>
      </setting>
      <setting name="ApplicationPolicyName" serializeAs="String">
        <value>ApplicationPolicy</value>
      </setting>
      <setting name="DefaultFileUnit" serializeAs="String">
        <value>Kilobyte</value>
      </setting>
      <setting name="DefaultComparisonOperation" serializeAs="String">
        <value>More</value>
      </setting>
      <setting name="ResultUpdateIntervalMsec" serializeAs="String">
        <value>1000</value>
      </setting>
    </Samples.Finder.Application.Properties.Settings>
  </applicationSettings>
</configuration>